In [23]:
l = [1,2,3,4,"danish", "ansari", [1,2,3,4,5,6]]

In [24]:
l1 = []
for i in l:
    if type(i) == int or type(i) == float :
        l1.append(i)

In [25]:
l1

[1, 2, 3, 4]

In [28]:
l

[1, 2, 3, 4, 'danish', 'ansari', [1, 2, 3, 4, 5, 6]]

In [29]:
l3 = []
for i in l :
    if type(i) == list :
        for j in i:
            l3.append(j)
    else:
        if type(i) == int or type(i) == float :
            l3.append(i)

In [30]:
l3

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [41]:
list = []

In [46]:
def extract_num(l):
    for i in l :
        if type(i) == list :
            for j in i:
                list.append(j)
        else:
            if type(i) == int or type(i) == float :
                list.append(i)
    return list

In [47]:
extract_num(l)

[1, 2, 3, 4]