In [1]:
print("this is my print")

this is my print

In [2]:
l = [ 324, 45,45,45]

In [3]:
len(l)

4

In [4]:
type(l)

list

In [6]:
def test():
    pass

In [5]:
def test1():
    print("this is my very very first function")

In [6]:
test1()

this is my very very first function

In [7]:
test1() + "danish"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
def test2():
    return "this is my very first return "

In [9]:
test2()

'this is my very first return '

In [10]:
test2() + "danish"

'this is my very first return danish'

In [11]:
def test3():
    return "danish", 23, 3435.4, [1,2,3,3]

In [12]:
test3()

('danish', 23, 3435.4, [1, 2, 3, 3])

In [ ]:
a,b,c,d = test3()

In [ ]:
a

'danish'

In [ ]:
b

23

In [ ]:
c

3435.4

In [ ]:
d

[1, 2, 3, 3]

In [13]:
a = 1
b = 5

In [14]:
a,b = 1,4

In [15]:
a,b

(1, 4)

In [16]:
def test4():
    a = 5+6/7
    return a

In [17]:
test4()

5.857142857142857

In [ ]:
def test5(a,b,c):
    d = a+b/c
    return d

In [ ]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [ ]:
test5(2,5,8)

2.625

In [ ]:
def test6(a,b):
    return a+b

In [ ]:
test6(3,4)

7

In [ ]:
test6("danish", " ansari")

'danish ansari'

In [ ]:
test6([1,2,3,4,5],[4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [20]:
l = [1,2,3,4,"danish", "ansari", [1,2,3,4,5,6]]

In [21]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [22]:
l1

[1, 2, 3, 4]

In [40]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [41]:
test7(l)

[1, 2, 3, 4]

In [ ]:
l

[1, 2, 3, 4, 'danish', 'ansari', [1, 2, 3, 4, 5, 6]]

In [37]:
a

1

In [38]:
def test8(a):
    l= []
    for i in a: 
        if type(i) == list:
            for j in i:
                l.append(j)
        else :
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [39]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [ ]:
l

[1, 2, 3, 4, 'danish', 'ansari', [1, 2, 3, 4, 5, 6]]

In [42]:
def test9(a):
    '''this is my function to extract num data frrom list'''
    l= []
    for i in a: 
        if type(i) == list:
            for j in i:
                l.append(j)
        else :
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [43]:
test9(a)

TypeError: 'int' object is not iterable

In [ ]:
def test10(a,b):
    return a+b

In [18]:
def test11(*args):
    return args

In [ ]:
type(test11())

tuple

In [19]:
test11()

()

In [ ]:
test11(1,2,3,4)

(1, 2, 3, 4)

In [20]:
def test12(*danish):
    return danish

In [22]:
type(test12())

tuple

In [23]:
test12(2,3,4,5,"dan")

(2, 3, 4, 5, 'dan')

In [24]:
def test13(*args, a) :
    return args, a

In [25]:
test(1,2,3,4)

TypeError: test() takes 0 positional arguments but 4 were given

In [27]:
test13(1,2,3,4, a=23)

((1, 2, 3, 4), 23)

In [28]:
def test14(c,d,a = 23, b =1):
    return a,b,c,d

In [29]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [31]:
test14(3,5)

(23, 1, 3, 5)

In [32]:
test14(2,5, a = 234)

(234, 1, 2, 5)

In [35]:
def test15(**kwargs):
    return kwargs

In [36]:
test15()

{}

In [37]:
type(test15())

dict

In [40]:
test15(a = [1,2,3,4] , b = "danish", c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'danish', 'c': 23.45}